<div class='menu'> 
  <ul>
    <li><a class='group2' href="#">Om oss</a></li>
    <li><a class='group3' href="#">Info</a></li>
    <li><a class='group4' href="#">Anmälan</a></li>
    <li><a class='group5' href="#">Hitta hit</a></li>
  </ul> 
</div>
<div class="parallax">
  <div id="group1" class="parallax__group">
    <div class="parallax__layer parallax__layer--base">
      <div class="title">David & Sara</div>
    </div>
  </div>
  <div id="group2" class="parallax__group init-hide">
      <div class="title">
        <p>
Sara och David blev först vänner på Afrikas slätter, de var 7st svenskar som via Bibelskola Sthlm åkte ut till Karen utanför Nairobi för att studera med de kenyanska studenterna 2012. De fyra månaderna bestod bland annat av slappa dagar på colleget, studiebesök i olika projekt, volleybollturneringar och byggande av enkla hus på landsbygden. 

Efter resan fortsatte vänskapen fast på olika håll, Sara flyttade till Göteborg och David bodde kvar i Stockholm. 
Vintern 2013 blev vänskapen till en romans och i början av 2014 blev de ett par.  Den 22a juli förlovade de sig och den 23e maj 2015 blir det äkta makar , hurrey!        
        </p>

      </div>
  </div>
  <div id="group3" class="parallax__group init-hide">
      <div class="title">Base Layer</div>
  </div>
  <div id="group4" class="parallax__group init-hide">
      <div class="title">Base Layer</div>
  </div>

  <div id="group5" class="parallax__group init-hide">
      <div class="title">Base Layer</div>
  </div>
</div>
