@font-face {
    font-family: 'Baron';
    src: font-url('Baron_Neue.otf');
}

@font-face {
    font-family: 'Canter';
    src: font-url('Canter_Outline.otf');
}

@font-face {
    font-family: 'Castro';
    src: font-url('Castro_script.ttf');
}

@font-face {
    font-family: 'Signerica';
    src: font-url('Signerica_Fat.ttf');
}

.baron{
  font-family: 'Baron';
  color: #414042;
}

.canter{
  font-family: 'Canter';
  color: #414042;
}

.castro{
  font-family: 'Castro';
  color: #414042;
}

.signerica{
  font-family: 'Signerica';
  color: #414042;
}
