// Colors
$orange: rgba(255, 232, 200, 0.4);
$orange-thick: rgba(255, 232, 200, 0.2);
$green: rgba(166, 192, 158, 0.2);
$red: rgba(222, 21, 21, 0.2);
$blue: rgba(166,189,219, 0.2);
$dark:  #444444;
$light: #999999;
$white: #FFFFFF;
$cream: #fcfbf9;
