@import "partials/variables";
@import "partials/fonts";

.hidden{
  display: none;
}

.menu{
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: -39px;
  margin: 0 auto;
  font-family: 'Canter';
  font-size: 20px;

  ul {
    width: 625px;
    padding: 0;
    margin: 0;
    list-style-type: none;
    margin: 0 auto;
  }

  a {
      float: left;
      width: 100px;
      text-decoration: none;
      color: white;
      background-color: rgba(99,99,99, 0.7);
      padding: 0.2em 0.6em;
      border-right: 1px solid white;
      text-align: center;
  }

  li:last-child a{
    border-right: none;
  }

  a:hover {
    background-color: rgba(189,189,189, 0.8);
  }

  a.active{
    background-color: rgba(189,189,189, 0.8);
    color: black;
  }

  li {
      display: inline;
  }

}
.index{
  .container{
    width: 765px;
    height: 818px;
    margin-top: 100px;
    margin: 0 auto;
    background: image_url('background.jpeg') 0px 0px no-repeat;
  }  

}

  /* Parallax base styles
  --------------------------------------------- */
  .parallax {
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    //overflow-x: hidden;
    //overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;
  }

  .parallax__group {
    position: relative;
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .parallax__layer--fore {
    -webkit-transform: translateZ(90px) scale(.7);
    transform: translateZ(90px) scale(.7);
    z-index: 1;
  }

  .parallax__layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 4;
  }

  .parallax__layer--back {
    -webkit-transform: translateZ(-300px) scale(2);
    transform: translateZ(-300px) scale(2);
    z-index: 3;
  }

  .parallax__layer--deep {
    -webkit-transform: translateZ(-600px) scale(3);
    transform: translateZ(-600px) scale(3);
    z-index: 2;
  }


  body, html {
   // overflow: hidden;
  }

  body {
    font: 100% / 1.5 Arial;
  }

  * {
    margin:0;
    padding:0;
  }

  .parallax {
    font-size: 200%;
  }

  .content {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  h1{
    font-family: 'Canter';
  }

  h3, h4{
    font-family: 'Canter'; 
  }

  p{ 
    font-family: 'Baron';
    font-size: 16px;
  }

  .content p, .content a{
    font-family: 'baron';
    font-size: 16px;
  }

  .content a{
    font-family: 'Canter';
    font-size: 26px;
    color: black;
  }

  .content a:hover{
    color: gray;
  }
 
  #group1 {
    z-index: 5; /* slide over group 2 */
  }

  #group1 {
    background: white;
    background-image: image_url('background.jpeg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
  }

  #group2 {
    z-index: 3; /* slide under groups 1 and 3 */
  }
  #group2 {
    background: $orange;
  }

  #group3 {
    z-index: 4; /* slide over group 2 and 4 */
  }
  #group3 {
    background: $green;

  }

  #group4 {
    z-index: 2; /* slide under group 3 and 5 */
  }
  #group4 {
    background: $red;
  }

  #group5 {
    z-index: 3; /* slide over group 4 and 6 */
  }
  #group5 {
    background: $blue;
  } 

// FRONT
.and, .name{
  margin: 0;
  position: relative;
  padding: 0; 
  margin-top: -70px;
  opacity: 0;
}

.and{
  font-family: 'Baron';
  font-size: 100px;
  font-weight: normal;
  z-index: 10;
  margin-top: -56px;
}

.name{
  z-index: 100;
}

.arrow{
  position: absolute;
  top: 17px;
  width: 50px;
  vertical-align: middle;   
}

.arrow#left{
  left: -200px;
  opacity: 0;
}

.arrow#right{
  right: -200px;
  opacity: 0;
}

// content groups
.title{
  font-family: 'Baron';
}

#group2 .images{
  width: 100%;
  height: auto;
  margin-top: 40px;

  a{
    overflow: hidden;
    height: 181px;
    width: 200px;
    display: inline-block;
    cursor: pointer;
  }
  
  img{
    width: 240px;
  }

  a:hover{
    opacity: 1;
  }
}

#group2{
  .content{
    width: 780px;
  }

  .hosts{
    width: 641px;
    margin: 0 auto;

    .image-container{
      position: relative;
      float: left;
      width: 200px;
      height: 200px;
      margin-right: 20px;
      cursor: pointer;

      p{
        position: absolute;
        margin: 0 auto;
        width: 100%;
        text-align: center;
        color: white;
        display: none;
      }

      p.first-name{
        top: 60px;
      }

      p.last-name{
        top: 80px;
      }

      .shader{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0.6;
        background-color: black;
      }
    }

    .image-container:last-child{
      margin-right: 0px;
    }
    
    .image-container:hover{
      p{
        display: block;
      }
      img{
        opacity: 1;
      }
      .shader{
        display: block;
      }
    }


    a{
      height: 200px;
      width: 200px;
      display: inline-block;
      cursor: pointer;
      background-color: gray;
    }

    img{
      width: 200px;
      height: 200px;
      opacity: 0.6;
    }    
  }
}

#group4{
  form{
    margin-top: 20px;
  }

  textarea, input{
    width: 100%;
    padding: 20px;
    border: none;
    border-radius: 5px;
    font-family: 'Baron';
    font-size: 16px;
    line-height: 1.5;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */  resize: none;
  }

  textarea:focus{
    outline:0 !important;
  }

  input{
    margin-bottom: 20px;
  }
}


.button {
  border: 0 none;
  border-radius: 2px 2px 2px 2px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: 'Baron';
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 0;
  margin-top: 10px;
  padding: 7px 10px;
  text-transform: none;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  width: 16.795%; /* auto */
  text-align: center; /* DELETE WHEN WIDTH AUTO */
  &.red {
    background: none repeat scroll 0 0 $red;
    color: $white;
    &:hover {
      background: none repeat scroll 0 0 $light;
      color: $white;
    }
  }
  &.dark {
    background: none repeat scroll 0 0 $dark;
    color: $white;
    &:hover {
      background: none repeat scroll 0 0 $blue;
      color: $white;
    }
  }
  &.light {
    background: none repeat scroll 0 0 $light;
    color: $white;
    &:hover {
      background: none repeat scroll 0 0 $dark;
      color: $white;
    }
  }
  &.green {
    background: none repeat scroll 0 0 $green;
    color: $white;
    &:hover {
      background: none repeat scroll 0 0 $dark;
      color: $white;
    }
  }
  &.blue {
    background: none repeat scroll 0 0 $blue;
    color: $white;
    &:hover {
      background: none repeat scroll 0 0 $dark;
      color: $white;
    }
  }
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10000;
 
  .close{
    display: inline-block;
    position: absolute;
    right: 5px;
    top: -8px;
    width: 20px;
    height: 20px;

    img{
      width: 20px;
    }
  }

  .details{
    width: 781px;
    height: 300px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background-color: white; 

    .image{
      float: left; 
      width: 300px;
      height: 300px;

      img{
        width: 100%;
        height: 100%;
      }
    }

    .text{
      float: left;
      width: 360px;
      margin-left: 50px;
      margin-top: 30px;
    }

  }
}
