@import "partials/variables";
@import "partials/fonts";

.hidden{
  display: none;
}

.section{
  min-height: 900px;
}

.errors{
  .error-list{
    list-style-type: none;
    li{
      font-size: 18px;
      font-family: 'baron';
      background-color: $red;
      padding: 1px;
      border-radius: 3px;
      margin-bottom: 4px;
    }
  }


  .success{
    list-style-type: none;

    li{
      font-size: 18px;
      font-family: 'baron';
      background-color: $green;
      padding: 10px;
      border-radius: 3px;
      margin-bottom: 4px;
    }
  }
}

.mobile{
  display: none;
}

.selection{
  display: none;
  position: fixed;
  width: 100%;
  height: 58px;
  background-color: transparent;
  z-index: 10000;
  top: -46px;

  img{
    width: 35px;
    margin-left: 10px;
    margin-top: 10px;
  }
}

.menu{
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: -44px;
  margin: 0 auto;
  font-family: 'Canter-light';
  font-size: 20px;

  ul {
    width: 564px;
    padding: 0;
    margin: 0;
    list-style-type: none;
    margin: 0 auto;
    height: 42px;
    border-bottom: 2px solid black;
  }

  a {
      float: left;
      width: 100px;
      text-decoration: none;
      color: $light-gray;
      background-color: transparent;
      padding: 0.1em 0.2em;
      text-align: center;
      font-size: 30px;
  }


  li:last-child a{
    border-right: none;
  }

  a:hover {
    color: $gray;
  }

  a.active{
    color: $gray;
    font-weight: bold;
  }

  li {
      display: inline;
  }
}

.mobile-menu{
  display: none;

  ul{
    width: 100%;

    li{
      display: block;

      a{
        float: none;
      }
    }
  }
}

.index{
  .container{
    width: 765px;
    height: 818px;
    margin-top: 100px;
    margin: 0 auto;
    background: image_url('background.jpeg') 0px 0px no-repeat;
  }  

}

  /* Parallax base styles
  --------------------------------------------- */
  .parallax {
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    //overflow-x: hidden;
    //overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;
  }

  .parallax__group {
    position: relative;
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .parallax__layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 4;
  }


  body, html {
   // overflow: hidden;
  }

  body {
    font: 100% / 1.5 Arial;
  }

  * {
    margin:0;
    padding:0;
  }

  .parallax {
    font-size: 200%;
  }

  .content {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  h1{
    font-family: 'Canter';
    color: $gray;
  }

  h3, h4{
    font-family: 'Canter'; 
    color: $gray;
  }

  p{ 
    font-family: 'Helvetica';
    font-size: 16px;
    color: $gray;
  }

  .content p, .content a{
    font-family: 'Helvetica';
    font-size: 16px;
    color: $gray;
  }

  .content a{
    font-family: 'Canter-light';
    font-size: 26px;
    color: black;
  }

  .content a:hover{
    color: gray;
  }
 
  #s-och-d {
    z-index: 5; /* slide over group 2 */
  }

  #s-och-d {
    background-color: white;
    background-image: image_url('background.jpeg');
    background-position: 53% 50%;
    background-repeat: no-repeat;
    opacity: 0;
  }

  #om-ss {
    z-index: 3; /* slide under groups 1 and 3 */
  }
  #om-oss {
    background: $cream;
  }

  #info {
    z-index: 4; /* slide over group 2 and 4 */
  }
  #info {
    background: white;
  }

  #anmalan {
    z-index: 2; /* slide under group 3 and 5 */
  }
  #anmalan {
    background: $cream;
  }

  #hitta-hit {
    z-index: 3; /* slide over group 4 and 6 */
  }
  #hitta-hit {
    background: white;
  } 

// FRONT
.and, .name{
  margin: 0;
  position: relative;
  padding: 0; 
  margin-top: -70px;
  opacity: 0;
}

.and{
  font-family: 'Baron';
  font-size: 100px;
  font-weight: normal;
  z-index: 10;
  margin-top: -56px;
}

.name{
  z-index: 100;
}

.arrow{
  position: absolute;
  top: 11px;
  width: 50px;
  vertical-align: middle;   
}

.arrow#left{
  left: -200px;
  opacity: 0;
}

.arrow#right{
  right: -200px;
  opacity: 0;
}

// content groups
.title{
  font-family: 'Baron';
}

#om-oss .images{
  width: 100%;
  height: auto;

  a{
    overflow: hidden;
    height: 269px;
    width: 283px;
    display: inline-block;
    cursor: pointer;
    border-radius: 100%;
  }
  
  img{
    width: 305px;
  }

  a:hover{
    opacity: 1;
  }
}

#om-oss {
  .content{
    width: 700px;
  }

  .hosts{
    width: 100%;
    margin: 0 auto;

    .image-container{
      position: relative;
      float: left;
      width: 200px;
      height: 200px;
      margin-right: 40px;
      cursor: pointer;

      p{
        position: absolute;
        margin: 0 auto;
        width: 100%;
        text-align: center;
        color: white;
        display: none;
      }

      p.first-name{
        top: 60px;
      }

      p.last-name{
        top: 80px;
      }

      .shader{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0.6;
        border-radius: 100%;
      }
    }
    .image-container:first-child{
      margin-left: 11px;
    }


    .image-container:last-child{
      margin-right: 0px;
    }
    
    .image-container:hover{
      p{
        display: block;
      }
      img{
        opacity: 1;
      }
      .shader{
        display: block;
        background-color: black; 
      }
    }

    a{
      height: 200px;
      width: 200px;
      display: inline-block;
      cursor: pointer;
      background-color: gray;
    }

    img{
      width: 200px;
      height: 200px;
      border-radius: 100%;
    }    
  }
}

#info{
  .content{
    min-width: 700px;

    a{
      margin-right: 19px;
    }

    a.last{
      margin-right: 0px;
    }
  }
}

#anmalan{
  form{
    margin-top: 20px;
  }
  p{
    width: 455px;
    margin: 0 auto;
    margin-bottom: 32px;
    margin-top: -100px;

    span{
      margin-top: 20px;
    }
  }

  textarea, input{
    width: 100%;
    padding: 20px;
    border: none;
    border-radius: 5px;
    font-family: 'baron';
    font-size: 16px;
    line-height: 1.5;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */  resize: none;
  }

  textarea:focus{
    outline:0 !important;
  }

  input:focus{
    outline:0 !important;
  }

  input{
    margin-bottom: 20px;
  }

  input.submit{
    font-family: 'Canter-light';
    font-size: 24px;
  }
}


.button {
  border: 0 none;
  border-radius: 2px 2px 2px 2px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: 'Baron';
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 0;
  margin-top: 10px;
  padding: 7px 10px;
  text-transform: none;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  width: 16.795%; /* auto */
  text-align: center; /* DELETE WHEN WIDTH AUTO */
  &.red {
    background: none repeat scroll 0 0 $red;
    color: $white;
    &:hover {
      background: none repeat scroll 0 0 $light;
      color: $white;
    }
  }
  &.dark {
    background: none repeat scroll 0 0 $dark;
    color: $white;
    &:hover {
      background: none repeat scroll 0 0 $blue;
      color: $white;
    }
  }
  &.light {
    background: none repeat scroll 0 0 $light;
    color: $white;
    &:hover {
      background: none repeat scroll 0 0 $dark;
      color: $white;
    }
  }
  &.green {
    background: none repeat scroll 0 0 $green;
    color: $white;
    &:hover {
      background: none repeat scroll 0 0 $dark;
      color: $white;
    }
  }
  &.blue {
    background: none repeat scroll 0 0 $blue;
    color: $white;
    &:hover {
      background: none repeat scroll 0 0 $dark;
      color: $white;
    }
  }
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10000;
 
  .close{
    display: inline-block;
    position: absolute;
    right: 5px;
    top: -8px;
    width: 20px;
    height: 20px;

    img{
      width: 20px;
    }
  }

  .details{
    width: 700px;
    height: 300px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background-color: $cream;

    .image{
      float: left; 
      width: 300px;
      height: 300px;

      img{
        width: 100%;
        height: 100%;
      }
    }

    .text{
      float: left;
      width: 320px;
      margin-left: 50px;
      margin-top: 30px;
      opacity: 0;
    }
  }
}

#hitta-hit{
  .content{
    width: 700px;
    margin-top: -100px;
  }
  .map{
    width: 60%; 
    height: 300px;
    float: left;
    background-color: white;

    img{
      width: 100%;
    }

  }

  .links{
    width: 37%;
    height: 300px;
    float: left;
    margin-left: 3%;

    p{
      margin-bottom: 30px;
    }

  }
}

.loader{
  background-repeat: no-repeat !important;
  background-position: 64% center !important;
  background-color: #999999;
  padding-left:30px;
}

.loader-show{
  background-image: image_url('icon-saving.gif') !important;
}
