// Responsive design
@import "partials/variables";
@import "partials/fonts";

// ipad
@media only screen 
and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) { 

}

// mobile
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 768px) {

  body{
    -webkit-text-size-adjust: none;
    width: 100%;
  }

  .mobile-show{

  }

  .selection{
    display: block;
  }

  .menu{
    //display: none;
    top: -280px;

    ul{
      width: 100%;

      li:first-child{
        padding-top: 55px;
      }

      li{
        display: block;
        background-color: $cream;

        a{
          float: none;
          margin-left: 20px;
        }
      }

    }

  }

 .arrow{
    display: none !important;
 }

  #s-och-d{
    height: 700px;

    .content{
      top: 43%;
    }
  }

  #anmalan, #hitta-hit{
    display: block;
    height: 900px;
  }

  #om-oss {
    height: 900px;
    display: block;

    .fancybox{
      height: 244px !important;
      width: 244px !important;

      img{
        width: 250px;
      }
    }

    p{
      width: auto;
    }

    .hosts{
      width: auto;
    }

    .image-container{
      float: none !important;
      margin: 0 auto;
      margin-right: auto !important;
      margin-bottom: 20px;
    }

    .content{
      display: inline-block;
      width: 80%;
      margin: 0 auto;
      min-width: auto;
      padding: 0 20px;
    }
  }

  #om-oss{
    height: 1600px;
  }

  #info{
    height: 1000px;

    .content{
      min-width: 0px !important;
      width: 85%;
      margin: 0 auto;
      
      h3:first-child{
        margin-top: 100px !important;
      }
    }

    .content a{
      display: block;
      margin: 0px auto !important;
      text-align: center;
    }
  }

  #anmalan{
    .content{
      width: 85%;
      margin: 0 auto;
      
      p{
        width: auto !important;
      }
    }

    input{
      -webkit-appearance: none;
      border-radius: 0;
      border-radius: 3px;
    }
  }
}
