// Responsive design
@import "partials/variables";
@import "partials/fonts";

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
  #om-oss, #info, #anmalan {
    height: 900px;
  }

  #om-oss{
    .overlay > .details{
      top: -200px;
    }
  }

  #anmalan{
    input{
      -webkit-appearance: none;
      border-radius: 0;
      border-radius: 3px;
    }
  }
}

// ipad
@media (max-width: 980px) {
  body{
    -webkit-text-size-adjust: none;
    width: 100%;
  }
  #s-och-d, #om-oss, #info, #anmalan, #hitta-hit{
    height: 1000px;
  }

  #anmalan{
    input{
      -webkit-appearance: none;
      border-radius: 0;
      border-radius: 3px;
    }
  }
}

// mobile
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 767px) {

  body{
    -webkit-text-size-adjust: none;
    width: 100%;
  }

  .errors{
    li{
      font-size: 12px !important;
    } 
  }

  .shader{
    display: none !important;
  }

  .image-container{
    height: auto !important;
  }

  .mobile{
    display: block !important;
    color: $gray !important;
    position: relative !important;
  }

  .selection{
    display: block;
  }

  .menu{
    //display: none;
    top: -280px;

    ul{
      width: 100%;

      li:first-child{
        padding-top: 55px;
      }

      li{
        display: block;
        background-color: $cream;

        a{
          float: none;
          margin-left: 20px;
        }
      }
    }
  }

 .arrow{
    display: none !important;
 }

  #s-och-d{
    height: 700px;

    .content{
      top: 60%;
    }
  }

  #anmalan, #hitta-hit{
    height: 900px;

    p{
      margin-top: -25px;
    }
  }

  #hitta-hit{
    height: 700px;

    .content{
      #map{
        margin-top: 100px;
      }
    }
  }
  
  #om-oss {
    height: 2240px;
    
    .content{
      margin-top: -20px !important;
    }

    .fancybox{
      height: 244px !important;
      width: 244px !important;

      img{
        width: 250px;
      }
    }

    p{
      width: auto;
    }

    .hosts{
      width: auto;

    }

    .image-container{
      float: none !important;
      margin: 0 auto;
      margin-right: auto !important;
      margin-bottom: 20px;
      margin-left: auto !important;
    }

    .content{
      display: inline-block;
      width: 80%;
      margin: 0 auto;
      min-width: auto;
      padding: 0 20px;
    }
  }


  #info{
    height: 1150px;

    .content{
      min-width: 0px !important;
      width: 85%;
      margin: 0 auto;
      
    }

    .content a{
      display: block;
      margin: 0px auto !important;
      text-align: center;
    }
  }

  #anmalan{
    .content{
      width: 85% !important;
      margin: 0 auto;
      
      p{
        width: auto !important;
      }
    }

    input{
      -webkit-appearance: none;
      border-radius: 0;
      border-radius: 3px;
    }
  }

  #hitta-hit{
    .content{
      width: 85% !important;
      margin: 0 auto;
      //margin-top: -110px;
    }

    .map{
      float: none;
      width: 100%;
      height: auto;
      img{
        width: 100%;
      }
    }

    .links{
      margin: 0 auto;
      margin-top: 40px;
      width: auto;
      height: auto;
      float: none !important;

    }
  }
}
