<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Anmälan till bröllop!</h1>
    <h3>Email</h3>
    <p><%= @attendance.email %></p>
    <h3>Information</h3>
    <p><%= @attendance.body %></p>
  </body>
</html>
